/* You can add global styles to this file, and also import other style files */
@import "./_variables.scss";
@import "./nomalize.scss";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,800;1,400&display=swap");

body {
	height: 100vh;
	width: 100vw;
	background-color: $bg-pri;
	overflow: hidden;

	* {
		font-family: "Nunito", sans-serif;
		font-weight: 500;
	}
}

// generals
.row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 20px;

	&--wrap {
		flex-flow: row wrap;
	}

	&--centered {
		justify-content: center;
	}

	&--sp-btw {
		justify-content: space-between;
	}

	&--sp-around {
		justify-content: space-around;
	}

	&--r-aligned {
		justify-content: flex-end;
	}

	&--l-aligned {
		justify-content: flex-start;
	}
}

.col {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 20px;

	&--wrap {
		flex-flow: column wrap;
	}

	&--centered {
		align-items: center;
	}

	&--sp-btw {
		align-items: space-between;
	}

	&--sp-around {
		align-items: space-around;
	}

	&--r-aligned {
		align-items: flex-end;
	}

	&--l-aligned {
		align-items: flex-start;
	}
}

.container {
	width: 70vw;
	margin: 0 auto;
}

// elements
a,
.anchor-like {
	cursor: pointer;
	text-decoration: none;
	color: $text-pri;

	&:hover {
		scale: 1.05;
	}
}

//components
button {
	.mdc-button__label {
		text-transform: uppercase;
		font-weight: 700;
	}
}

.btn {
	font-size: 1.5em;
}

// utils
.danger {
	background-color: $danger;
}

.success {
	background-color: $success;
}

.warn {
	background-color: $warn;
}

.m-a {
	margin: auto;
}

.ml-a {
	margin-left: auto;
}

.mb-20 {
	margin-bottom: 20px !important;
}
