
<br>
<br>
<div class="row row--r-algined">
	<a [routerLink]="['/workouts/create']">
		<button mat-raised-button color="primary">Add new Workout</button>
	</a>
</div>
<br>
<hr>
<div class="row row--sp-around row--wrap">

	@for (workout of workoutList(); track workout._id) {
		<app-workout-preview
			class="mb-20"
			[workout]="workout"
			(likeWorkout)="likeWorkout($event)"
			(deleteWorkout)="deleteWorkout($event)">
		</app-workout-preview>
	} @empty {
		<div>There were no items in the list.</div>
	}
</div>

<hr>

@if (selectedWorkout()) {
	<div> Selected:  {{selectedWorkout() | json}}  </div>
}  @else {
	<div>No workout selecteds</div>
}
