
<br>
<br>
<div class="row row--r-algned">
	<a [routerLink]="['/workouts/create']">
		<button mat-raised-button color="primary">Add new Workout</button>
	</a>
</div>
<br>
<hr>
<div class="row row--sp-around">

	@for (workout of workoutList(); track workout._id)
	{
		<app-workout-detail [workout]="workout" (likeWorkout)="likeWorkout($event)" (deleteWorkout)="likeWorkout($event)"></app-workout-detail>
	}
	@empty
	{
		<div>There were no items in the list.</div>
	}
</div>

<hr>

@if (selectedWorkout())
{
	<div> Selected:  {{selectedWorkout() | json}}  </div>
}
@else
{
	<div>No workout selecteds</div>
}
