<div class="row">

	@for (workout of workoutList(); track workout._id)
	{
		<mat-card class="example-card">
			<mat-card-header>
				<mat-card-subtitle>{{ workout.title }}</mat-card-subtitle>
				<mat-card-title>Agility</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>Repetition: {{ workout.reps }}</p>
				<p>Load: {{ workout.load }}</p>
				<p>Likes: {{ workout.likes }}</p>
				<mat-divider></mat-divider>
			</mat-card-content>
			<mat-card-actions class="row">
				<button mat-raised-button color="warn" (click)="deleteWorkout(workout)">Delete</button>
				<button mat-raised-button color="accent" (click)="likeWorkout(workout)">Like</button>
			</mat-card-actions>
		</mat-card>
	}
	@empty
	{
		There were no items in the list.
	}

</div>

<hr>

@if (selectedWorkout())
{
	<div>
		{{selectedWorkout() | json}}
	</div>
}
@else
{
    <div>No workout selecteds</div>
}

