@import '../styles.scss';
.app {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;

	&__header {
		height: 50px;
		background-color: $pri;
	}

	&__main {
		width: 90%;
		margin: 0 auto;
	}

	&__footer {
		height: 40px;
		background-color: $sec;
		margin-top: auto;
	}
}
