/* You can add global styles to this file, and also import other style files */
@import './styles/_variables.scss';
@import './styles/nomalize.scss';


body {
	height: 100vh;
	width: 100vw;
	background-color: $bg-pri;
	overflow: hidden;
}

.row  {
	display: flex;
	flex-flow: row nowrap;

	&--sp-btw {
		justify-content: space-between;
	}

	&--sp-around {
		justify-content: space-around;
	}
}

