/* You can add global styles to this file, and also import other style files */
@import './nomalize.scss';
$pri: #469597;
$sec: #5BA199;
$acc: #DDBEAA;

$text-pri: #FFFFFF;
$text-sec: #000000;

$bg-pri: #E5E3E4;
$bg-sec: #BBC6C8;

body {
	height: 100vh;
	width: 100vw;
	background-color: $bg-pri;
	overflow: hidden;
}


